:root {   
    --header-home-height: 390px;
    --header-height: 315px;
    --background-color-base: #ffd5af;
    --color-base: #231f20;
}

* { padding: 0;margin: 0;box-sizing: border-box;outline: 0; }

/* @font-face */

body { font-size: 16px;font-family: '', sans-serif;-webkit-font-smoothing: antialiased !important;overflow-y: scroll;overflow-x: hidden !important;color: var(--color-base); }

img { display: block;max-width: 100%;height: auto; } 
select { -webkit-appearance: none;-moz-appearance: none;appearance: none;cursor:pointer; }    
input { -webkit-appearance: none;-moz-appearance: none;appearance: none;cursor:pointer;border: 0;background: transparent; }
textarea { -webkit-appearance: none;-moz-appearance: none;appearance: none;cursor:pointer;border: 0;background: transparent;resize: none; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; } 

a { text-decoration: none;transition: all .2s ease; }
a:hover { text-decoration: none; }

#root { position: relative;min-height: 100vh;padding-bottom: var(--footer-height); } 

.esconde { position: absolute;top: -99999px;left: 0;font-size: 1px; }

.color-default { color: var(--color-base); }

.font-10 { font-size:0.5675rem !important; }
.font-11 { font-size:0.6875rem !important; }
.font-12 { font-size:0.7825rem !important; }
.font-13 { font-size:0.8125rem !important; } 
.font-14 { font-size:0.8750rem !important; }
.font-16 { font-size:1.0000rem !important; }
.font-18 { font-size:1.1250rem !important; }
.font-20 { font-size:1.2500rem !important; }
.font-22 { font-size:1.3000rem !important; }
.font-24 { font-size:1.5000rem !important; }
.font-28 { font-size:1.7500rem !important; }
.font-32 { font-size:2.0000rem !important; }
.font-40 { font-size:2.5000rem !important; }

.line-height-100 { line-height:100% !important; }
.line-height-110 { line-height:110% !important; }
.line-height-120 { line-height:120% !important; }
.line-height-130 { line-height:130% !important; }
.line-height-140 { line-height:140% !important; }
.line-height-150 { line-height:150% !important; }
.line-height-160 { line-height:160% !important; }
.line-height-170 { line-height:170% !important; }
.line-height-180 { line-height:180% !important; }

.scale-100 { transform:scale(1.0) !important; }
.scale-110 { transform:scale(1.1) !important; }
.scale-120 { transform:scale(1.2) !important; }
.scale-130 { transform:scale(1.3) !important; }
.scale-140 { transform:scale(1.4) !important; }
.scale-150 { transform:scale(1.5) !important; }
.scale-160 { transform:scale(1.6) !important; }
.scale-170 { transform:scale(1.7) !important; }
.scale-180 { transform:scale(1.8) !important; }

@media (min-width: 768px) { /* COL MD */		

	.font-md-10 { font-size:0.5675rem !important; }
	.font-md-11 { font-size:0.6875rem !important; }
	.font-md-12 { font-size:0.7825rem !important; }
	.font-md-13 { font-size:0.8125rem !important; } 
	.font-md-14 { font-size:0.8750rem !important; }
	.font-md-16 { font-size:1.0000rem !important; }
	.font-md-18 { font-size:1.1250rem !important; }
	.font-md-20 { font-size:1.2500rem !important; }
	.font-md-22 { font-size:1.3000rem !important; }
	.font-md-24 { font-size:1.5000rem !important; }
	.font-md-28 { font-size:1.7500rem !important; }
	.font-md-32 { font-size:2.0000rem !important; }
	.font-md-40 { font-size:2.5000rem !important; }
}

@media (min-width: 992px) { /* COL LG */		

	.font-lg-10 { font-size:0.5675rem !important; }
	.font-lg-11 { font-size:0.6875rem !important; }
	.font-lg-12 { font-size:0.7825rem !important; }
	.font-lg-13 { font-size:0.8125rem !important; } 
	.font-lg-14 { font-size:0.8750rem !important; }
	.font-lg-16 { font-size:1.0000rem !important; }
	.font-lg-18 { font-size:1.1250rem !important; }
	.font-lg-20 { font-size:1.2500rem !important; }
	.font-lg-22 { font-size:1.3000rem !important; }
	.font-lg-24 { font-size:1.5000rem !important; }
	.font-lg-28 { font-size:1.7500rem !important; }
	.font-lg-32 { font-size:2.0000rem !important; }
	.font-lg-40 { font-size:2.5000rem !important; }
}

@media (min-width: 1200px){ /* COL XL */	

	.font-xl-10 { font-size:0.5675rem !important; }
	.font-xl-11 { font-size:0.6875rem !important; }
	.font-xl-12 { font-size:0.7825rem !important; }
	.font-xl-13 { font-size:0.8125rem !important; } 
	.font-xl-14 { font-size:0.8750rem !important; }
	.font-xl-16 { font-size:1.0000rem !important; }
	.font-xl-18 { font-size:1.1250rem !important; }
	.font-xl-20 { font-size:1.2500rem !important; }
	.font-xl-22 { font-size:1.3000rem !important; }
	.font-xl-24 { font-size:1.5000rem !important; }
	.font-xl-28 { font-size:1.7500rem !important; }
	.font-xl-32 { font-size:2.0000rem !important; }
	.font-xl-40 { font-size:2.5000rem !important; }

}